/* components/image-gallery-custom.css */

/* Style for the main image */
.image-gallery-image {
  width: 100%;
  height: 500px; /* Set desired height */
  overflow: hidden;
  position: relative;
}

.image-gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

/* Style for the thumbnail images */
.image-gallery-thumbnail-inner {
  width: 100%;
  height: 80px; /* Set desired thumbnail height */
  overflow: hidden;
  position: relative;
}

.image-gallery-thumbnail-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Adjust thumbnail container when positioned on the right */
.image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails {
  width: 100px; /* Adjust as needed */
}

/* /* Full-screen mode adjustments */ */
/* .image-gallery-slide.fullscreen .image-gallery-image { */
/*   height: 100vh; /* Full viewport height */ */
/* } */
/**/
/* .image-gallery-slide.fullscreen img { */
/*   object-fit: contain; /* Show the whole image */ */
/* } */
/**/
